<script src='https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js'></script>
<div class='container-fluid mt-5'>
    <img src="http://192.168.36.86:5000/vid" alt="live stream"></img>
</div>

<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script src='/socket.io/socket.io.js'></script> <!--For socket.io-->
<script src="/scripts/main.js"></script>

