<div class="ml-2">
    <div class="p-3 bg-white">
        <h4>Chào mừng các bạn đến với FaceMaskDetectionGate</h4>
        <hr>
        <h5>Thành viên 1: Trần Quốc Cường - 19521302</h5>
        <h5>Thành viên 2: Đào Thanh Huy - 19521601</h5>
    </div>
</div>

<div class="device-list d-flex flex-wrap mt-3 ml-2">
    {{#each devices}}
    <div class="card mr-3" style="width: 200px;">
        <div class="container-fluid">
            {{!-- Container for card --}}
            <div class="row justify-content-md-center">
                
                <div class="card-body col-8 col">
                    <p class="card-text">{{name}}</p>
                    {{#if isAlive}}
                    <span class="badge badge-success">Success</span>
                    {{else}}
                    <span class="badge badge-danger">Fail</span>
                    {{/if}}
                    <p>{{updatedAt}}<p>
                </div>
                <img class="card-img-top col-4 p-2" src="{{imgUrl}}" alt="Card image cap">
            </div>
        </div>
    </div>
    {{/each}}
</div>

